<p>
    {% if closed_event %}
        <span>Похоже, что вы знаете всех потенциальных участни:ц!</span>
    {% else %}
        <span>Похоже, что вы открыты к новым знакомствам!</span> 
        Это здорово. Стоит морально подготовиться к тому,
        что к вам могут прийти разные люди. Возможно,
        не все из них разделяют ваши ценности и убеждения, некоторые могут быть тяжелыми в общении.
        Учитывая ситуацию в стране, может быть рискованно рассказывать
        незнакомцам личную информацию и делиться с ними потенциально подсудными мнениями.
        Используя эзопов язык, можно выразиться достаточно понятно для собеседников 
        и не подставиться под статью.
    {% endif %}
</p>

<p>
{% if public_announce %}
    <span>Публикация информации о мероприятии с личного аккаунта</span>
    может быть как хорошей идеей,
    так и очень плохой: все зависит от контекста. Если вы медийная личность,
    ваша известность может гарантировать доверие лояльной аудитории,
    но для большинства непубличных людей это может нести больше рисков,
    привлекая внимание недоброжелателей.
    {% if trigger_theme or arrests or trigger_title %}
        В некоторых случаях можно ждать визита полиции или <a href=https://meduza.io/feature/2019/08/23/chto-sotrudniki-tsentra-e-delayut-na-mitingah-pochemu-oni-vse-odinakovye-otkuda-berutsya-dela-za-reposty> сотрудников центра “Э</a>, в народе известных как "эшники".
        <br>Личный аккаунт легко связать с владельцем: узнать связанные с ним номера
        телефонов, найти другие соцсети по фотографиям профиля.
        Помните, что участие в мероприятии и его организация –
        разные степени ответственности, не облегчайте ментам работу по доказательству того, что вы и есть организатор.
    {% endif %}
{% else %}
    <span>Если вы анонсируете ивент анонимно</span>,
    потенциальным недоброжелателям будет труднее вас достать,
    а значит, безопасность повышается! С другой стороны, вам может быть тяжелее привлечь
    новую аудиторию. Сопоставляйте личные риски с потенциальной пользой. 
{% endif %}
</p>

<p>
{% if participant_db %}
    {% if trigger_theme %}
         <span>Сохраняя личные данные участни:ц</span>,
        стоит понимать, что эти люди могут оказаться в опасности,   
        если полиция получит доступ к вашим устройствам.
        Рекомендуем не хранить чувствительные данные, либо хранить их в зашифрованном виде: например,
        на сервисе Cpryptpad можно создать документ с паролем и датой уничтожения. 
    {% endif %}
    {% if trigger_theme %}
        Если у вас с участни:цами есть чат в телеграме, 
    {% else %}
        <span>Если у вас с участни:цами есть чат в телеграме, </span>
    {% endif %}
    лучше настроить автоудаление истории сообщений и двухфакторную
    авторизацию. 
    {% if trigger_theme %}
        Если предполагается анонимность участников, телеграм лучше не использовать,
        установите Element или Signal. 
    {% endif %}
    Регулярно проверяйте подключенные
    устройства в своих аккаунтах, если видите в списке незнакомое —
    отключите, смените пароли. 
{% else %}
    <span>Вы не храните данные об участни:цах.</span>
    Это хорошо: нет данных – нет проблем :)
    Помните о том, что группы в соцсетях и чаты в мессенджерах
    –  тоже какая-то ненулевая информация.
    Если у вас с участни:цами есть чат в телеграме,
    лучше настроить автоудаление истории сообщений и
    двухфакторную авторизацию. Регулярно проверяйте подключенные
    устройства в своих аккаунтах, если видите в списке незнакомое —
    отключите, смените пароли.
    {% if trigger_theme %}
        Помните: если вашими мероприятиями заинтересуется
        полиция, списки состоящих в чате или группе людей могут
        стать потенциально опасной информацией,
        привлечь внимание органов к тем людям, кто, может быть, 
        раньше не попадал в их поле зрения.
    {% endif %}
{% endif %}
</p>

{% if trigger_theme %}
<p>
    <span>Итак, вы собрались активистить!</span>
    Жмём руку. К сожалению, абсолютно никакой активизм в РФ сейчас
    не может считаться безопасным. У нас есть совершенно
    дикие истории ареста за радужные сережки,
    посадки за антивоенные ценники и многое другое.
</p>
{% endif %}

<p>
{% if trigger_title %}
    Мы думаем, вы и без нас знаете, что <span>названия, содержащие
    такие слова как “феминизм”, “ЛГБТ”, “антивоенный” и т.п.</span>
    в сегодняшней России привлекают много внимания,
    в том числе нежелательного! Мы, конечно, вам ничего запрещать
    не можем и не будем, но помните, что риск появления полиции
    или <a href=https://meduza.io/feature/2019/08/23/chto-sotrudniki-tsentra-e-delayut-na-mitingah-pochemu-oni-vse-odinakovye-otkuda-berutsya-dela-za-reposty>эшников</a>
    на таких ивентах возрастает в разы. 
{% else %}
    <span>Мы рады, что вы решили не привлекать к себе излишнее внимание названием</span>, 
    значит, мы можем волноваться за вашу безопасность немножко меньше &lt3
{% endif %}
</p>

{% if arrests or trigger_theme  %}
    <p>
    <span>Если вы знаете, что на подобные ивенты уже приходила полиция</span>,
    были задержания или даже аресты, то это как раз тот случай,
    когда о безопасности стоит позаботиться всерьез:
    </p>
    <ul>
    <li> Верифицируйте участни:ц! 
        Мы убедительно просим вас не заниматься или даже не говорить
        о таких вещах с теми, кого вы не знаете лично, или теми,
        у кого нет хороших рекомендаций от проверенных людей.
        Рассылайте адрес и время ивента уже проверенным участни:цам, 
        не публикуйте эти данные открыто.
        Помните о случаях, когда менты втирались в доверие к людям 
        в соцсетях и подталкивали к противозаконным
        действиям, убеждая задонатить ВСУ, поджечь военкомат,
        или распространить “фейки” про российскую армию,
        а затем — сами же шили из этого дело. Будьте бдительны. </li>
    <li> Убедитесь, что вы выполнили все инструкции
        <a href=https://cryptpad.fr/pad/#/2/pad/edit/Uk1nCFBbRWWuFSA59tECZ4JL>
        отсюда </a> и 
        призовите всех участни:ц также им следовать. Это важно. Объясните
        им, что если полиция получает доступ к устройствам одной из
        вас – она получает доступ ко всем через ваши общие чаты.
        Ваша цифровая безопасность нужна не только для вас: она защищает
        всех людей, с которыми вы связаны.  Пусть все установят бот
        ОВД-инфо и прочитают “инструкцию идеального задержанного”. </li>
    <li> Выбирайте место проведения ивента с умом. 
        Вам не подойдут пространства, где много посторонних людей. 
        Лучше всего забронировать целое помещение, в идеале — с черным ходом.
        Ищите те, где владельцы придерживаются схожих с вами взглядов. 
        Если сможете назначить специального человека, 
        который будет сидеть возле входа/окна 
        и сможет предупредить остальных о приезде полиции — вообще здорово. 
        Хороший вариант – собраться у кого-нибудь дома. </li>
    <li> Не берите с собой никакую символику, листовки,
        не одевайтесь в триггерные цвета (радуга, жёлто-голубой).
        Не дарите ментам фактуру, которую можно будет положить в основу дела. </li> 
    <li> Фото или видео с мероприятия могут привлечь внимание полиции
        или особо бдительных граждан: безопаснее всего будет не вести
        никакую съемку, или по крайней мере убедиться,
        что в кадр не попадают лица участников. </li>
    </ul>
    <p>
    Помните, что все вышеперечисленные действия
    <a href=https://theins.press/politika/268859> не страхуют вас на 100% </a>
    от визита эшников или полиции.
    <br>Желаем удачи!
    </p>
{% else %}

    {% if trigger_theme %}
        <p>
        <span>Арестов и задержаний на подобных ивентах не было</span>, или по крайней мере
        вы о них не знаете. Мы с вами понимаем, что ответ “нет” может в
        скором времени перестать быть актуальным (нелепые задержания по самым
        разным поводам только набирают обороты). Даже если вы уверены, что
        ваше мероприятие безобидное и не вызовет интерес силовиков,
        мы искренне убеждены в том, что меры безопасности,
        перечисленные в начале этого документа, — это то, что
        неплохо бы использовать каждо:й в сегодняшней России.
        </p>
    {% endif %}

{% endif %}



{% if not trigger_theme and not arrests %}
<p>
    <span>Похоже, в ваших планах устроить раскайфовку!</span>

    {% if closed_event %}
        Это значит, что вам можно не заморачиваться сильно
        ни с выбором места проведения, ни с анонимностью чатов.
    {% else %}
        Это значит, что вам можно не заморачиваться сильно
        ни с выбором места проведения, ни с верификацией участни:ц,
        ни с анонимностью чатов.
    {% endif %}
    
    На всякий случай рекомендуем не одеваться в одежду
    триггерных цветов (радуга, сине-желтый), не брать с
    собой антивоенную, фем-, квир-символику и агитматериалы.
    Вы собрались на целиком законное неподозрительное мероприятие —
    не дарите ментам повод его сорвать. Перестрахуемся и дадим наш 
     стандартный совет: <a href=https://cryptpad.fr/pad/#/2/pad/view/EcdYxUGN8uhj8EzWFxvI89cuUu7c2GCq3NiCL-8qngo/>обезопасить</a> 
     свои устройства,
     прочитать инструкции ОВД-инфо и знать свои права. <br>
    Желаем вам хорошо провести время :)
</p>
{% endif %}