@import url("./fonts.scss");

h1 {
  font-size: 2.5em;
  line-height: 1;
  font-weight: normal;
  font-family: "Kelly Slab", sans-serif;
}

// Setting
.v-application {
  font-family: "Ubuntu", sans-serif;
}

.default-border {
  border: 2px solid currentColor;
}

.v-btn--variant-outlined {
  border: 2px solid currentColor !important;
}
